{{!--
{{#each articles}}
        <div class="row">
        <div class="articles">
            <a href="{{link}}">{{title}}</a>
            <p>{{summary}}</p>
            <a class="btn btn-primary"href="/save-article?title={{title}}&link={{link}}&summary={{summary}}">Save this shit</a>
        </div>
        <div class="notes"></div>
        </div>
    {{/each}} --}}



    {{#each articles}}
<div class="row justify-content-center">
<div class="card">
    {{!-- fix the image add colums --}}
    <img class="card-img-top" src="{{img}}" alt="Card image cap">
  <div class="card-body articles">
    <a href= "{{link}}">{{title}}</a>
    <p class="card-text">{{summary}}</p>
    <hr>
   <button class="btn btn-dark saveMe" id="{{_id}}">Save this article</button>
  </div>
</div>
</div>
{{/each}}